{% from "macros/pageitem" import pageitem %}

<footer id="footer" class="content">
  <div class="container">
    <div class="row">
      <nav class="column one-fourth">
        <h5>{{ get_string("resources", "menu") }}</h5>
        <ul>
          {% for pagename in ["acceptable-ads", "documentation", "deployments"] %}
            <li>{{ pagename | linkify }}{{ get_string(pagename, "menu") }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      <nav class="column one-fourth">
        <h5>{{ get_string("community", "menu") }}</h5>
        <ul>
          <li><a href="/releases/" hreflang="en">{{get_string("releases", "menu")}}</a></li>
          <li><a href="/blog/" hreflang="en">{{get_string("blog", "menu")}}</a></li>
          <li><a href="/forum/" hreflang="en">{{get_string("forum", "menu")}}</a></li>
          {{ pageitem("development-builds") }}
        </ul>
      </nav>
      <nav class="column one-fourth">
        <h5>{{get_string("development", "menu")}}</h5>
        <ul>
          <li><a href="https://gitlab.com/eyeo/adblockplus">{{ get_string("source", "menu") }}</a></li>
          {{ pageitem("tools") }}
          <li><a href="https://eyeo.com/jobs/" hreflang="en">{{ get_string("jobs", "menu") }}</a></li>
        </ul>
      </nav>
      <nav id="social-list" class="column one-fourth">
        <h5>{{get_string("follow-us", "menu")}}</h5>
        <ul>
          <li>
            <a href="https://twitter.com/AdblockPlus" target="_blank">
              <img
                src="/img/footer-twitter-glyphicon.png"
                alt="{{ "Twitter" | translate("twitter-alt", "Twitter glyphicon alt text")}}">
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/user/AdblockPlusOfficial" target="_blank">
              <img
                src="/img/footer-youtube-glyphicon.png"
                alt="{{ "YouTube" | translate("youtube-alt", "Youtube glyphicon alt text") }}">
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/adblockplus" target="_blank">
              <img
                src="/img/footer-facebook-glyphicon.png"
                alt="{{ "Facebook" | translate("facebook-alt", "Facebook glyphicon alt text") }}">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/adblockplus/" target="_blank">
              <img
                src="/img/footer-instagram-glyphicon.png"
                alt="{{ "Instagram" | translate("instagram-alt", "Instagram glyphicon alt text") }}">
            </a>
          </li>
        </ul>
      </nav>
    </div> {# .row #}
    <div id="footer-legal">
      <p id="copyright-notice">{{ "Copyright © 2018 All rights reserved. Adblock Plus<sup>®</sup> is a registered trademark of <a href='https://eyeo.com'>eyeo GmbH</a>." | translate("copyright-notice", "Footer copyright notice") }}</p>
      <ul id="legal-list">
        {% for pagename in ["terms", "privacy", "impressum"] %}
          <li>{{ pagename | linkify }}{{ get_string(pagename, "menu") }}</a></li>
        {% endfor %}
      </ul>
    </div> {# #footer-legal #}
  </div> {# .container #}
</footer> {# #footer #}
